.movie-card {
  margin: auto;
  width: 75%;    
}

.movie-card-img {  
  object-fit: contain;
  object-position: center; 
}

.card-title,
.card-text {
  color: black;
}

.no-underline {
  text-decoration: none;
}

.card-footer {
  height: 120px;
}

.movie-carousel {
  display: flex;
  flex-direction: row;
}

.no-indicators .carousel-indicators {
  display: none;
}

.carousel-item {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .carousel-slide {
    display: flex;
    flex-direction: row;
    align-items: flex-center;
    align-content: center;
    width: 100%;
  }

  .carousel-item-container {
    flex: 1 0 30%; // Each card takes approximately 30% of the slide width    
  }

  .carousel-control-prev {
    position: absolute;
    transform: translateX(-50%);
  }

  .carousel-control-next {
    position: absolute;
    transform: translateX(+50%);
  }
}

@media only screen and (max-width: 700px) {
  .movie-card {
    margin: auto;
    width: 70%;    
  }

  .carousel-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .movie-card-img {
    height: 200px;
  }
}
